RadPy/src/radpy/plugins/BeamAnalysis/BDML/MeasuringDevice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">




    <xsd:complexType name="DeviceType">
    	<xsd:all minOccurs="0">
    		<xsd:element name="Model" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
    		<xsd:element name="Manufacturer" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
    		<xsd:element name="Type" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
    	</xsd:all>
    </xsd:complexType>
</xsd:schema>