RadPy/src/radpy/plugins/BeamAnalysis/BDML/v0.1/MeasuringDevice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">




    <xsd:complexType name="DeviceType">
    	<xsd:sequence minOccurs="0">
    		<xsd:element name="Model" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
    		<xsd:element name="Manufacturer" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
    		<xsd:element name="Type" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
    		<xsd:any namespace="##other" minOccurs="0" maxOccurs="unbounded" processContents="lax"></xsd:any>
    	</xsd:sequence>
    </xsd:complexType>
</xsd:schema>